body{
    min-height: 150px;
    min-width: 500px;
    background-color: azure;
}

#tblMain{
    width: 100%;
    border-collapse: collapse;
    border: 0px;
}

button{
    height:25px;
    border-radius:0;
    font-weight: bold;
    background-color: skyblue;
}